<a href="https://colab.research.google.com/github/kaurratinder130-bit/helloworld/blob/main/lesson4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

# Create dataframe
df = pd.DataFrame({
    'Company': ['FB', 'FB', 'GOOG', 'GOOG', 'MSFT', 'MSFT', 'AAPL', 'AAPL'],
    'Person': ['Sam', 'Charlie', 'Amy', 'Vanessa', 'Carl', 'Sarah', 'Tony', 'Jake'],
    'Sales': [200, 120, 340, 124, 243, 350, np.nan, 400]
})
df

  Company   Person  Sales
0      FB      Sam  200.0
1      FB  Charlie  120.0
2    GOOG      Amy  340.0
3    GOOG  Vanessa  124.0
4    MSFT     Carl  243.0
5    MSFT    Sarah  350.0
6    AAPL     Tony    NaN
7    AAPL     Jake  400.0

In [6]:
print("\nDropping any rows with a NaN value\n", '-'*35)
print(df.dropna())

print("\nDropping any column with a NaN value\n", '-'*35)
print(df.dropna(axis=1))# axis=0 is rows

print("\nDropping a row with minimum 2 NaN using 'thresh'\n")
print(df.dropna(thresh=2)) #If a row has fewer than 2 non-NaN (valid) values, itâ€™s dropped.

Dropping any rows with a NaN value
 -----------------------------------
  Company   Person  Sales
0      FB      Sam  200.0
1      FB  Charlie  120.0
2    GOOG      Amy  340.0
3    GOOG  Vanessa  124.0
4    MSFT     Carl  243.0
5    MSFT    Sarah  350.0
7    AAPL     Jake  400.0

Dropping any column with a NaN value
 -----------------------------------
  Company   Person
0      FB      Sam
1      FB  Charlie
2    GOOG      Amy
3    GOOG  Vanessa
4    MSFT     Carl
5    MSFT    Sarah
6    AAPL     Tony
7    AAPL     Jake

Dropping a row with minimum 2 NaN using 'thresh'

  Company   Person  Sales
0      FB      Sam  200.0
1      FB  Charlie  120.0
2    GOOG      Amy  340.0
3    GOOG  Vanessa  124.0
4    MSFT     Carl  243.0
5    MSFT    Sarah  350.0
6    AAPL     Tony    NaN
7    AAPL     Jake  400.0

In [7]:
print("\nFilling values with default (0)\n")
print(df.fillna(0))

print("\nFilling values with mean of Sales\n")
print(df['Sales'].fillna(df['Sales'].mean()))

Filling values with default (0)

  Company   Person  Sales
0      FB      Sam  200.0
1      FB  Charlie  120.0
2    GOOG      Amy  340.0
3    GOOG  Vanessa  124.0
4    MSFT     Carl  243.0
5    MSFT    Sarah  350.0
6    AAPL     Tony    0.0
7    AAPL     Jake  400.0

Filling values with mean of Sales

0    200.000000
1    120.000000
2    340.000000
3    124.000000
4    243.000000
5    350.000000
6    253.857143
7    400.000000
Name: Sales, dtype: float64

In [8]:
byComp = df.groupby('Company')
print("\nGrouping by 'Company' and summing sales\n", '-'*55, sep='')
print(byComp['Sales'].sum())

print("\nStats for 'FB'\n")
pd.DataFrame(byComp.describe().loc['FB']).T

Grouping by 'Company' and summing sales
-------------------------------------------------------
Company
AAPL    400.0
FB      320.0
GOOG    464.0
MSFT    593.0
Name: Sales, dtype: float64

Stats for 'FB'

   Sales
   count   mean        std    min    25%    50%    75%    max
FB   2.0  160.0  56.568542  120.0  140.0  160.0  180.0  200.0

In [17]:
df1 = pd.DataFrame({'A': ['A0','A1','A2','A3'],
                    'B': ['B0','B1','B2','B3'],
                    'key': ['K0','K1','K2','K3']})
df2 = pd.DataFrame({'A': ['A4','A5','A6','A7'],
                    'B': ['B4','B5','B6','B7'],
                    'key': ['K0','K1','K2','K3']})
df3 = pd.DataFrame({'A': ['A8','A9','A10','A11'],
                    'B': ['B8','B9','B10','B11'],
                    'key': ['K0','K1','K2','K3']})

print("\nConcatenation\n")
df_cat = pd.concat([df1, df2, df3])
print(df_cat)

print("\nMerge by key\n")
merge1 = pd.merge(df1, df2, how='inner', on='key')# only common values
print(merge1)

merged = pd.merge(merge1, df3, on='key', how='outer')  # Merge the result with the third, outer keeps everything
print(merged)

Concatenation

     A    B key
0   A0   B0  K0
1   A1   B1  K1
2   A2   B2  K2
3   A3   B3  K3
0   A4   B4  K0
1   A5   B5  K1
2   A6   B6  K2
3   A7   B7  K3
0   A8   B8  K0
1   A9   B9  K1
2  A10  B10  K2
3  A11  B11  K3

Merge by key

  A_x B_x key A_y B_y
0  A0  B0  K0  A4  B4
1  A1  B1  K1  A5  B5
2  A2  B2  K2  A6  B6
3  A3  B3  K3  A7  B7
  A_x B_x key A_y B_y    A    B
0  A0  B0  K0  A4  B4   A8   B8
1  A1  B1  K1  A5  B5   A9   B9
2  A2  B2  K2  A6  B6  A10  B10
3  A3  B3  K3  A7  B7  A11  B11

In [18]:
t = ('a', 1, 3.5)
print(t[0], len(t))
print(t.count('a'), t.index(1))

a 3
1 1

In [19]:
x = set()
x.add(1)
x.add(2)
x.add(1)   # duplicates ignored
print(x)

{1, 2}

In [20]:
my_dict = {'key1':123, 'key2':[12,23,33], 'key3':['item0','item1','item2']}
print(my_dict['key2'][1])
my_dict['key1'] -= 23
print(my_dict)
print(my_dict.keys(), my_dict.values(), my_dict.items())

23
{'key1': 100, 'key2': [12, 23, 33], 'key3': ['item0', 'item1', 'item2']}
dict_keys(['key1', 'key2', 'key3']) dict_values([100, [12, 23, 33], ['item0', 'item1', 'item2']]) dict_items([('key1', 100), ('key2', [12, 23, 33]), ('key3', ['item0', 'item1', 'item2'])])

In [21]:
from functools import reduce

def add_num(a,b): return a+b
nums = [1,2,3,4,5]
print("Map:", list(map(lambda x:x**2, nums)))
print("Filter:", list(filter(lambda x:x%2==0, nums)))
print("Reduce:", reduce(add_num, nums))

Map: [1, 4, 9, 16, 25]
Filter: [2, 4]
Reduce: 15

In [22]:
class Person:
    def __init__(self, name, surname, birth_year):
        self.name = name
        self.surname = surname
        self.birth_year = birth_year

    def age(self, current_year):
        return current_year - self.birth_year

    def __str__(self):
        return f"{self.name} {self.surname}"

alec = Person("Alec", "Baldwin", 1958)
print(alec)
print("Age:", alec.age(2025))

Alec Baldwin
Age: 67

In [ ]:
#extra use cases
print("Hello", "world")
print("Hello" "world", sep='')

In [24]:
!apt-get install -y git
!git config --global user.email "kaurratinder130@gmail.com"
!git config --global user.name "kaurratinder130-bit"

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
git is already the newest version (1:2.34.1-1ubuntu1.15).
0 upgraded, 0 newly installed, 0 to remove and 38 not upgraded.

In [26]:
!git clone https://github.com/kaurratinder130-bit/helloworld.git

Cloning into 'helloworld'...
remote: Enumerating objects: 48, done.
remote: Counting objects: 100% (48/48), done.
remote: Compressing objects: 100% (46/46), done.
Receiving objects: 100% (48/48), 23.58 KiB | 11.79 MiB/s, done.
remote: Total 48 (delta 24), reused 7 (delta 0), pack-reused 0 (from 0)
Resolving deltas: 100% (24/24), done.

In [28]:
%cd helloworld

/content/helloworld

In [31]:
!git status

On branch main
Your branch is up to date with 'origin/main'.

nothing to commit, working tree clean

In [33]:
from google.colab import drive
drive.mount('/content/drive',force_remount=True)

Mounted at /content/drive

In [35]:
!ls "/content/drive/MyDrive/Colab Notebooks"

'Another copy of Lesson_3_Lab_python_refresher.ipynb'
 assignment2.ipynb
'Copy of LAB1.ipynb'
'Copy of Lesson_3_assignment_RatinderKaur.ipynb'
'Copy of Lesson_3_Lab_python_refresher (1).ipynb'
'Copy of Lesson_3_Lab_python_refresher (2).ipynb'
'Copy of Lesson_3_Lab_python_refresher.ipynb'
'Copy of lesson4.ipynb'
'Copy of test23 (1).ipynb'
'Copy of test23.ipynb'
'Copy of test24.ipynb'
'Copy of test25.ipynb'
'Copy of test26 (1).ipynb'
'Copy of test26.ipynb'
'Copy of test27.ipynb'
'Copy of Untitled3.ipynb'
'Copy of Untitled4.ipynb'
'Copy of Untitled5.ipynb'
 datasets
'datasets (1).zip'
'datasets (2).zip'
 datasets.zip
 final2.ipynb
 greet_function.py
 LAB1.ipynb
 Lab3.ipynb
 Lesson_3_assignment_RatinderKaur.ipynb
 Lesson_3_Lab_python_refresher.ipynb
 lesson4.ipynb
 patients.csv
 patients.db
 patients.pkl
 test1.ipynb
 test23.ipynb
 test24.ipynb
 test25.ipynb
 test27.ipynb
 Untitled0.ipynb
 Untitled1.ipynb
 Untitled2.ipynb
 Untitled3.ipynb
 Untitled4.ipynb
 Untitled5.ipynb

In [37]:
!cp "/content/drive/MyDrive/Colab Notebooks/lesson4.ipynb" .

In [38]:
!git add lesson4.ipynb

!git commit -m "Add to notebook"

[main 3e59f24] Add to notebook
 1 file changed, 1 insertion(+)
 create mode 100644 lesson4.ipynb